---
import Layout from '../layouts/Layout.astro';
import Nav from "../layouts/common/Nav.astro";
import TempContent from '../layouts/sections/TempContent.astro';
import Footer from "../layouts/common/Footer.astro";
---

<Layout title="About - ACM Web">
	<Nav></Nav>
	<TempContent></TempContent>
	<Footer></Footer>
</Layout>