---
interface Props {
    image: string;
    title: string;
    description: string;
}

const { image, title, description } = Astro.props;
---

<div>
    <div class="border-4 border-white">
        <div class="relative">
            <img class="h-full" src=`${image}`>
        </div>
    </div>
    <div class="bg-white px-2 py-4">
        <h2 class="text-neutral-900 text-lg font-medium">{title}</h2>
        <p2 class="text-neutral-900 text-xs">
            {description}
        </p2>
    </div>
</div>