---
import Logo from '../components/Logo.astro';

interface Props {}
---

<div class="container">
  <div class="logo-container">
    <Logo/>
    <a href="#start">ACM WEB</a>
  </div>
  <div class="tab-container">
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a class="join-tab" href="#join">Join Now</a>
  </div>
</div>

<style>
	.container {
    position: fixed;
    top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: #FFFBFB;
    font-weight: 400;
    padding: 0 5%;
  }
  a {
    text-decoration: none;
  }
  .logo-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    font-size: 72px;
    overflow: hidden;
  }
  .logo-container a {
    font-size: 72px;
    color: #E7E6F6;
    font-weight: 500;
    text-shadow: 0px 4px 4px #00000040;
    margin-left: .25em;
  }
  .tab-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    font-size: 44px;
  }
  .tab-container a {
    margin: .25em;
    color: #FFFBFB;
    text-shadow: 0px 2.69px 2.69px #0000004D;
  }
  .tab-container a.join-tab {
    color: #5D5BC5;
  }
</style>
