<div class="bg-neutral-900 w-full min-h-screen flex justify-center items-center">
  <div class="container px-6">
      <div class="flex items-center justify-center">
          <h1 class="text-2xl font-mono text-white">
              Temp Content
          </h1>
      </div>
  </div>
</div>