<div class="bg-neutral-950 w-full flex justify-center items-center">
  <div class="container px-6 py-4 flex flex-row items-center justify-between">
      <div class="flex flex-col text-lg text-white font-black">
          <a href=".">&ltACM WEB /&gt</a>
      </div>
      <ul class="text-white text-md font-medium flex flex-row gap-8">
          <li>
              <a href="/about" class="transition-all duration-150 hover:text-neutral-400">About</a>
          </li>
          <li>
              <a href="/contact" class="transition-all duration-150 hover:text-neutral-400">Contact</a>
          </li>
      </ul>
  </div>
</div>